
week2-loops-Debugging-CodeTracing/.DS_Store
week2-loops-Debugging-CodeTracing/__pycache__/cs112_f21_week2_linter.cpython-39.pyc
week2-loops-Debugging-CodeTracing/.DS_Store
week2-loops-Debugging-CodeTracing/.DS_Store
week2-loops-Debugging-CodeTracing/test.py
